
.menu_block  {
	z-index: 999;
	position: relative;
	text-align: center;
	float: left;
}

.menu_block >nav {

}


nav>.sf-menu {
	z-index: 999;
	text-align: center;
	position: relative;
}
nav{ position:relative;padding: 0px 0 0 0;}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu li {float:left;position:relative; }
.sf-menu>li {
	z-index: 900;
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	min-width: 143px;
	font-family: 'Roboto', sans-serif;
}

.sf-menu>li:after {
	display: block;
	position: absolute;
	content: '';
	right: -1px;
	height: 23px;
	pointer-events: none;
	bottom: 0;
	width: 1px;
	background-color: #eeeeee;
}

.sf-menu>li+li {
	margin-left: 1px;
}


.sf-menu>li>ul>li {
  float: none;
  position: static;
}


.sf-menu>li>a{
	overflow: hidden;
	position: static;
	z-index: 999;
	display: block;
	padding-top: 14px;
	padding-bottom: 15px;
	color: #525252;
	overflow: hidden;
	border-top: 5px solid transparent;
}

.sf-menu>li>a:before {
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	content: '';
	position: absolute;
	display: block;
	width: 0px;
height: 0px;
border-style: solid;
border-width: 6px 6px 0 6px;
border-color: transparent transparent transparent transparent;
	top: 5px;
	left: 50%;
	margin-left: -6px;
}

.sf-menu>li.current>a:before, .sf-menu>li.sfHover>a:before, .sf-menu>li>a:hover:before {
	border-top-color: #585858;
}


.sf-menu>li>a.sf-with-ul:after {
	position: absolute;
	content: '';
	left: 50%;
	margin-left: -3px;
	width: 7px;
	background: url(../images/arrows.png) 0 bottom no-repeat;
	height: 5px;
	bottom: -2px;
	pointer-events: none;
	z-index: 999;
	display: block;
}



.sf-menu>li:hover>a, .sf-menu>li.sfHover>a, .sf-menu>li.current>a {
	border-top-color: #585858;
}
 
.sf-menu>li>ul>li>a>span {
	position: absolute;
	width: 7px;
	background: url(../images/arrows.png) 0 bottom;
	height: 5px;
	right: 18px;
	bottom: 12px;
	pointer-events: none;
	z-index: 999;
}

.sf-menu>li>ul>li.sfHover>a>span {
	background-position: 0 bottom;
}


.sf-menu a{

}



/*================================>> 2 Level <<========================================*/
.sf-menu li ul,.sf-menu li.sfHover>ul{
	top: 55px;
	background:#585858;
	width: 100%;
	left: 0px;
	z-index: 999; 
	padding-top: 10px;
	padding-bottom: 10px;
}

.sf-menu>li.sfHover>ul:after {
	width: 0px;
	display: block;
	content: '';
	position: absolute;
	top: -5px;
	left: 18px;	
	height: 0px;
	border-style: solid;
	border-width: 0 5px 5px 5px;
	border-color: transparent transparent #585858 transparent;
}

.sf-menu li ul li{
	position: relative;
	text-align: left;
	border-radius: 5px;
	float: none !important;
	font-size: 14px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 14px;
	margin: 0 10px;
}

.sf-menu li ul li+li {
	margin-top: -1px;
}

.sf-menu li ul li+li+li {
}

.sf-menu li ul li a{
	text-align: left;

	padding: 8px 0 9px 19px;
	position: relative;
	z-index: 999;
	color:#fff;
	display: block;


}





.sf-menu li li:hover, 
.sf-menu li.sfHover li.sfHover {  
	background-color: #6b6b6b;

}

/*================================>> 3 Level <<========================================*/
.sf-menu li.sfHover li.sfHover ul{
	padding-top: 0;
	padding-bottom: 0;
	top: 0;
	left: -10px;
	right: -10px;
	top: 30px;
	width: auto;
	padding-bottom: 45px;

}

.sf-menu li.sfHover li.sfHover ul li {
	border-radius: 4px;
}

.sf-menu li.sfHover li.sfHover ul li:hover {
	background-color: #6b6b6b;
}


/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 995px) {

.sf-menu>li {
	min-width: 104px;

}

.sf-menu li ul, .sf-menu li.sfHover > ul {
	width: 143px;
}
}

@media only screen and (max-width: 767px) {
	.menu_block {
		float: none !important;
		padding: 22px 0px 25px !important;
		clear: both;
		min-height: 0px;
  	border: none;
	}


  header nav{
  	border: none !important;
		float:none;
		font:12px/15px Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		color:#927c67;
		margin: 0 auto;
		
	}

  header nav ul {
  	border: none;
  	display: none;
  }

	.sf-menu{display:none !important; float: none;}
	#mm0{
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#202020;
		width:100%;
		margin: 0 auto;
		float: none;
    outline: none;

		border:2px solid #91D6DE;
	}
	
	.search_block {
		padding-bottom: 10px !important;	
	}
}
